<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="row header">{{ now.time }}</div>

  <!-- *********** Current Conditions *********** -->
  <div class="main">
    <div class="row current">
      <div class="col-2">
        <img  class="current-image" src="{{ now.icon }}" alt="" />
      </div>
      <div class="col-2">
        <div class="temperature">
          {% if now.temperature  is defined %}
            {{ now.temperature | int }}&deg;
          {% else %}
            N/A
          {% endif %}
        </div>
      </div>
      <div class="col-2 today">
        <div>High <span class="highlow">{% if now.high is defined %}{{ now.high | int }}&deg;{% else %}N/A{% endif %}</span></div>
        <div>Low <span class="highlow">{% if now.low is defined %}{{ now.low | int }}&deg;{% else %}N/A{% endif %}</span></div>
        <div class="detail">Wind:{% if now.windSpeed is defined %}{{ now.windSpeed | int }}{% else %}N/A{% endif %} mph {{ now.windDir }}</div>
        <div class="detail">Humidity: {% if now.humidity is defined %}{{ now.humidity | int }}%{% else %}N/A{% endif %}</div>
        <div class="detail">Pressure: {% if now.pressure is defined %}{{ now.pressure / 100 | int }} mb{% else %}N/A{% endif %}</div>
      </div>
    </div>
    <div class="row current-description">{{ now.hour }}</div>


    <!-- *********** Hourly forecast *********** -->
    <div class="hourly-forecast-group">
      <div class="row">
        {% for item in hourly %}
          <div class="col-1">{{ item.time }}</div>
        {% endfor %}
      </div>
      <div class="row">
        {% for item in hourly %}
          <div class="col-1"><img class="forecast-image" src="{{ item.icon }}" /></div>
        {% endfor %}
      </div>
      <div class="row">
        {% for item in hourly %}
          <div class="col-1">{% if item.temp is defined %}{{ item.temp | int }}&deg;{% else %}N/A{% endif %}</div>
        {% endfor %}
      </div>
      <div class="row">
        {% for item in hourly %}
          <div class="col-1 forecast-description">{{ item.shortForecast }}</div>
        {% endfor %}
      </div>
    </div>

    <!-- *********** Today's forecast *********** -->
    <!-- <div class="row week-forecast">{{ now.forecast }}</div> -->

    <!-- *********** Daily forecast *********** -->
    <div class="daily-forecast-group">
      <div class="row title">6 Day Forecast</div>
      <div class="row">
        {% for item in daily %}
          <div class="col-1">{{ item.date }}</div>
        {% endfor %}
      </div>
      <div class="row">
        {% for item in daily %}
          <div class="col-1">{{ item.day }}</div>
        {% endfor %}
      </div>
      <div class="row">
        {% for item in daily %}
          <div class="col-1"><img class="forecast-image" src="{{ item.icon }}" /></div>
        {% endfor %}
      </div>
      <div class="row">
        {% for item in daily %}
          <div class="col-1">
            <span>{% if item.high is defined %}{{ item.high| int }}&deg;{% else %}N/A{% endif %}</span>
            <span> / </span>
            <span>{% if item.high is defined %}{{ item.low| int }}&deg;{% else %}N/A{% endif %}</span>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        {% for item in daily %}
          <div class="col-1 forecast-description">{{ item.shortForecast }}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="footer row">
    <div>Forecast from {{ now.city }}</div>
    <div>Last Updated: {{ now.timestamp }}</div>
  </div>
</body>
</html>
